* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    transition: all ease .5s;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: clamp(15px, 1vw, 18px);

}

@mixin flex-centre($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.container {
    padding-top: 3rem;
    margin: 2rem;
    width: 100%;
    height: 50%;
    @include flex-centre(1.5rem);
    flex-direction: column;
    border-radius: 2rem;
    border: 1px solid #4C7EFF;
    background-color: #F5F7FA;

    h1 {
        letter-spacing: 1px;
        font-weight: 500;
    }

    h2 {
        font-size: 3rem;
        font-weight: 300;
        color:  #2c5edcdf;
    }

    .btns {
        @include flex-centre(2rem);

        button {
            padding: .5rem 1.5rem;
            border-radius: 1rem;
            background-color: #4C7EFF;
            color: white;
            font-weight: 300;
            font-size: 2.5rem;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #4c7fffbd;
            }
        }
    }

    .bottom {
        padding-top: 1rem;

        button {
            padding: .8rem 1.5rem;
            font-size: 1.2rem;
            border-radius: 1rem;
            background-color: #304356;
            color: white;

            font-weight: 300;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #304356ca;
                color: white;
            }


        }

    }


}

.move {
    transform: scale(1.2);
}